/* GENERAL *********************************************/
.App {
  font-family: sans-serif;
  padding: 16px;
  background-color: #eee;
}

@font-face {
  font-family: "pm";
  src: local("fonts"),
  url("../../presentation-card-ugly/src/fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
.pc-mainTitle,
.pc-mainSubtitle {
  text-align: center;
  margin: 0.5em auto;
}
.pc-card-container {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media screen and (max-width: 756px) {
  .pc-card-container {
    grid-template-columns: 1fr;
  }
}

/* CARD *********************************************/
.pc-card {
  flex: 0 50%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
}

/* AAAAAAAA */

/* AREA ******************************************** */
.pc-area {
  padding: 16px 24px;
}
.pc-area__title {
  margin-bottom: 0.5em;
}

/* TAG ******************************************** */
.pc-tag {
  font-size: 12px;
  background-color: #cfe9fe;
  border: 1px solid;
  border-color: #034d86;
  color: #034d86;
  border-radius: 100px;
  margin: 0 8px 8px 0;
  padding: 4px 8px;
  white-space: nowrap;
  display: inline-block;
}
.pc-tag--big {
  font-size: 16px;
  padding: 6px 10px;
}
.pc-tag--selected {
  font-weight: bold;
  border: 2px solid;
}
.pc-tag--warning {
  background-color: #fff4cc;
  color: #b87d00;
  border-color: #e9a001;
}
.pc-tag--success {
  background-color: #ccfadd;
  color: #0a6a36;
  border-color: #0a6a36;
}
.pc-tag--disabled {
  background-color: #f7f8fa;
  color: #5d6974;
  border-color: #5d6974;
}
.pc-tag--underline {
  text-decoration: underline;
}

/* GRID ******************************************** */
.pc-grid {
  display: grid;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

/* HEADER AND TITLES ******************************************** */
.pc-header {
  width: 100%;
  background-color: #0477d2; /*#011B30;*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4% 6%;
  color: #f7f8fa;
}
.pc-header--emph {
  background-color: #0a3; /*#011B30;*/
}
.pc-title {
  font-family: "pm";
  font-size: 32px;
  line-height: 1;
  color: #fff;
  opacity: 0.9;
  margin: 0;
}
.pc-subtitle {
  line-height: 1;
  color: #fff;
  opacity: 0.9;
  margin-top: 16px;
  font-weight: lighter;
}

/* THUMB ******************************************** */
.pc-thumb-container {
  width: 16%;
  margin-left: auto;
  margin-right: 6%;
  min-width: 64px;
  max-width: 240px;
  position: relative;
}
.pc-thumb {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  background-size: contain;
  border-radius: 20%;
  border: 6px solid #f7f8fa;
  /* Deve essere uguale al border-width */
  margin-left: -10px;
  margin-top: -80%;
}
.pc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

/* SKILL ******************************************** */
.pc-skill__level {
  font-size: 16px;
  font-weight: bold;
  color: #999;
}
.pc-skill__level--green {
  color: #0a2;
}

/* LINK ******************************************** */
.pc-uc__link {
  color: #0e93fa;
  font-size: 13px;
  padding: 0 16px 16px 0;
}
.pc-uc__link:hover,
.pc-uc__link:focus {
  color: #9ad2fd;
}
.pc-uc__links:hover,
.pc-uc__links:focus {
  color: #9ad2fd;
}
.pc-uc__link-logo {
  font-size: 16px;
  padding-right: 8px;
}
